<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Esta aplicación te permite explorar una amplia colección de héroes de cómic con información
     detallada sobre cada uno. Descubre sus habilidades, historias de origen, afiliaciones a equipos, 
     y más, todo en una interfaz intuitiva y fácil de usar. Ideal para fans del mundo de los cómics y 
     desarrollada con tecnologías modernas para garantizar una experiencia fluida y visualmente atractiva."
</p>
